<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="provider" value="SqlServer"/>
	</appSettings>
	<connectionStrings>
	    <add name="SqlServer" connectionString="Server=localhost,1433;Database=CleanArch;User ID=sa;Password=1q2w3e4r@#$" />
	</connectionStrings>
</configuration>
