<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="provider" value="SqlServer"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=WingtipToys;Integrated Security=True;Pooling=False" />
	</connectionStrings>
</configuration>
